


h1 {
  text-align:center;
}
.container-fluid {
  text-align: center;
}

h3 {
  text-align: center;
}

hr {
  height: 50px; 
  
}

section {
  margin: 0;
}

.logo {
  background: url("/assets/images/usbaudiointerfaces-2x1-.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 360px;
}

.heading {
  background: -webkit-linear-gradient(black, green);
}

.name {  
  font-weight: 100;
  font-size: 46px;
  margin-top: 50px;
  color: #fff;
}

.subject {  
  font-weight: 200;
  font-size: 28px;
  margin-top: 20px;
  margin-bottom: 140px;
  color: #fff;
}



/*STYLING FOR THE FOOTER*/

i {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.social-links {
  font-size: 30px;
  color: gold;
  text-align: center;
}

footer {
  max-width: 100%;
  background: -webkit-linear-gradient(green, black);
  position: relative;
  border-top: 1px solid;
  border-bottom: 1px solid;
}

footer p {
  font-size: x-small;
}