/*THIS IS THE GENERAL SECTION STYLING*/

body {
  background: black;
}

h1 {
  text-align:center;
}
.container-fluid {
  text-align: center;
  
}

h3 {
  text-align: center;
  
}



section {
  margin: 0;
}

hr {
  border: none;
  margin-bottom: 5px;
}

/*THIS IS THE HEADER SECTION STYLING*/

.header {
  max-width: 100%;
  height: 150px;
  background: -webkit-linear-gradient(green, black);
  position: relative;
  }

/*THIS IS THE FIRST SECTION STYLING*/

.landingpage {
  background: url("/assets/images/Bedroom-Studio-Main.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 360px;
  margin-left: 160px;
  margin-bottom: 50px;
  border: 2px solid green;

  animation-name: studio-zoom;
  animation-duration: 3s;
  animation-fill-mode: forwards ;
}

@keyframes studio-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

.heading {
  background: -webkit-linear-gradient(black, green);
}

.name {  
  font-weight: 100;
  font-size: 46px;
  margin-top: 50px;
  color: gold;
}

.subject {  
  font-weight: 200;
  font-size: 28px;
  margin-top: 20px;
  margin-bottom: 140px;
  color: gold;
}

.labelstyle6 {
  background: -webkit-linear-gradient(black, green);
  margin-top: 255px;
  margin-left:60px;
  text-align: center;
  font-size: xxx-large;
  color: gold;
}

.labelstyle7 {
  background: -webkit-linear-gradient(green, black);
  text-align: center;
  color: gold;
}


/*THIS IS THE SECOND SECTION STYLING*/

.leftarticle {
  z-index: 1;
  background: url("/assets/images/Sophia-Loizou.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  left: 50px;
  bottom: 30px;
  min-height: 360px;
  
}

.labelstyle {
  margin-left: 350px;
  font-size: xx-large;
  color: gold;
}

.labelstyle2 {
  margin-left: 350px;
  font-size: xxx-large;
  color: gold;
}

.labelstyle3 {
  margin-left: 350px;
  font-size: large;
  color: gold;
}

.rightarticle {
  background: url("/assets/images/DAW Screens.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  right: 50px;
  min-height: 360px;
}

.labelstyle4 {
  border: 3px solid black;
  background: green;
  margin-top: 125px;
  margin-left: 360px;
  font-size: xxx-large;
  color: gold;
}

.labelstyle5 {
  border: 3px solid black;
  background: green;
  margin-top: 40px;
  margin-left: 300px;
  font-size: large;
  text-align: center;
  color: gold;
}




/*THIS IS THE THIRD SECTION STYLING*/

.thismonthbanner {
  background: url("/assets/images/usbaudiointerfaces-2x1-.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 360px;
}

.heading {
  background: -webkit-linear-gradient(black, green);
}

.name {  
  font-weight: 100;
  font-size: 46px;
  margin-top: 50px;
  color: gold;
}

.subject {  
  font-weight: 200;
  font-size: 28px;
  margin-top: 20px;
  margin-bottom: 140px;
  color: gold;
}



/*THIS IS THE FOOTER AREA STYLING*/

i {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.social-links {
  font-size: 30px;
  color: gold;
  text-align: center;
}

footer {
  max-width: 100%;
  background: -webkit-linear-gradient(green, black);
  position: relative;
  border-bottom: 1px solid;
}

footer p {
  font-size: x-small;
}
